.button {
    color: #BFE600;
    cursor: pointer;
    font-size: small;
    background-color: #000;
    border: none;
    padding: 10px 5px;
    width: 70px;
    font-weight: bold;
    border-radius: 3px;
  }