.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation button {
    margin: 0 10px; /* Добавляет отступы между кнопками */
}

.active button {
    color: #EEEF20; /* Цвет текста для активной кнопки */
}