.container{
    width: 360px;
    background-color: #AACC00;
    height: 640px;
}

.About-Text{
    text-align: justify;
    margin: 0 auto;
    padding: 20px;
    color: #000;
}

.About-Text h1{
    color: #000;
}
